

.graphic_main{
    padding: 25px;
    padding-left: 5%;
    padding-right: 5%;

}

.skillsCard{
    background-color: #FED799;
    border:none;
    border-width: 3px;
    border-radius: 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='gray' stroke-width='5' stroke-dasharray='3%2c8%2c10%2c18' stroke-dashoffset='42' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 15px;
    height:450px;
    font-size: 25px;
    color:#000967 ;
    display: flex;
    padding:10px;

}

.graph_card{
    background-color: #C499FF;
    border:none;
    border-width: 3px;
    border-radius: 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='gray' stroke-width='5' stroke-dasharray='3%2c8%2c10%2c18' stroke-dashoffset='42' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 15px;
    height:450px;
        font-size: 20px;
    color:white ;
    display: flex;
    padding:10px;
    text-align: center;

}
.graphic_main .card-header{
    border: none;
    background-color: transparent !important;
}
.skill_item{
    margin:10px;
    background-color: #F0F2F5;
    border: none;
    color:black ;
    border-radius: 10px;
    border:3px solid black;
    margin-top: 10px;
    font-size: 30px;

}


.list-group-item:first-child {
    border-top-left-radius:10px !important;
    border-top-right-radius: 10px !important;;
}
.list-group-flush>.list-group-item:last-child {
    border-bottom-width: 2px;
}
.list-group-flush>.list-group-item {
    border-width: 2px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .skillsCard,.graph_card{
        height: 360px;
    }
    .card-header{
        font-size:25px !important;
    }
   
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .skillsCard,.graph_card{
        height: 400px;
    }
}

/* Large devices (desktops) */
@media only screen and (min-width: 993px)and (max-width: 1405px) {
   
    
}

.graph_card {
    color: white;
  }
  
  .graph_card .card-header {
    color: white;
  }
  
 
  
  .graph_card .recharts-tooltip-wrapper .recharts-default-tooltip {
    background-color: black;
    color: black;
    border: 1px solid white;
  }