
.main_wrapper {
    background-color:var(--primary-color);
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}


.test1 {
    background-color: rgba(248, 251, 255, 1);
    padding: 13px 35px;
    text-align: center;
    border-radius: 10px;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-prev-icon {
    margin-right: 140px;
}

.carousel-control-next-icon {
    margin-left: 140px;
}

.test1_label {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(56, 43, 74, 1);
    border-radius: 10px;
}

.test1_cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    color: rgba(42, 46, 70, 1);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

.test1_card1, .test1_card2, .test1_card3, .test1_card4 {
    background-color: rgb(0, 0, 0)!important;
    border-radius: 10px;
    padding: 6px 50px 0px 50px;
}

.characteritics_title{
    color: white;
}

@media only screen and (max-width: 768px) {
    .main_wrapper {
        padding: 20px;
        gap: 20px;
    }

    .test1 {
        padding: 10px 20px;
        font-size: 16px;
    }

    .test1_label {
        font-size: 20px;
        padding: 10px;
    }

    .test1_cards {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .test1_card1, .test1_card2, .test1_card3, .test1_card4 {
        padding: 10px 20px;
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        margin: 0;
        transform: scale(0.8);
    }
}
