.belbin_main {
  background-color: #929DDB;
  color: #384699;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.theme_belbin {
  font-family: 'Mitr', sans-serif !important;
}

.questions_belbin {
  font-family: 'Mitr', sans-serif !important;
  font-weight: 500 !important;
}

.slider .MuiSlider-track {
  background-color: #384699;
  height: 8px;
}

.slider .MuiSlider-thumb {
  height: 22px;
  width: 30px;
  background-color: #DDDFF6;
  border-radius: 7px;
}

.slider .MuiSlider-rail {
  background-color: #384699;
  height: 8px;
}

.slider .MuiSlider-mark {
  background-color: #929DDB;
  height: 8px;
  width: 6px;
}

.slider .MuiSlider-markLabel {
  font-family: 'Mitr', sans-serif !important;
  font-weight: 600;
  color: #384699;
}
