.navcol{
    background-color: #4F60C5 !important;
    border-radius: 0 !important;
    color: white !important;
    border-radius: 20px !important;
    padding-top: 2%;

}
.navitm{
    background-color: transparent !important;
    border-radius: 0 !important;
    color: white !important;
    border-radius: 20px !important;
    padding-top: 2%;

}

.navitm:hover{
    color: #C3CCED !important;
}
.adm_nav{
    margin-left: 6%;
    font-family: 'Mitr';
}



