.a_testcard{
    border: 3px solid var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    font-family: 'Mitr';
    color: rgba(248, 251, 255, 1) !important;
    
}
.test_edit{
    background-color: rgba(137, 107, 179, 1) !important;
    border: none !important;
    margin-top: 20px;
}

.a_testcard .card-title, .card-text{
    margin: 0 !important;
}

.a_testcard .card-img-top{
    margin-top: 30px;
}

.all_tests {
    background-color: var(--secondary-color) !important;
    max-width: 1520px;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Mitr';
    margin-bottom: 15px;
    color: var(--text-color)
    
}

.btn-primary{
    background-color: #0000ff;
    margin-right: 10px;
    color: white;
}