.a_testcard{
    background-color: #232934;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(248, 251, 255, 1) !important;
    
}
.test_edit{
    border: none !important;
    margin-top: 20px;
}

.a_testcard .card-title h5, .card-text{
    margin: 0 !important;
    margin-top: 20px;
}

.a_testcard .card-img-top{
    margin-top: 30px;
}

.all_tests {
    background-color: var(--secondary-color) !important;
    max-width: 1520px;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    color: white
    
}

.all_tests.text-center h1{
    color: white;
    padding-top: 15px;
}

.btn-primary{
    background-color: #0000ff;
    margin-right: 10px;
    color: white;
    margin-top: 50px;
}


.btn-danger{
    margin-top: 50px;
}

