.notification-sidebar {
    width: 27%;
    max-height: 50vh;
    position: absolute;
    top: 60px;
    right: 10%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease-in-out;
}

.notification-sidebar.visible {
    transform: translateY(0);
    opacity: 1;
}

.close-btn {
    font-size: 24px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #444;
}

h3 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.viewAll {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #636363;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin: 0 auto 15px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.viewAll:hover {
    background-color: #d1d1d1;
}

.list {
    margin: 0;
    padding: 10px;
    list-style: none;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 40vh;
}

.item-notification {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-placeholder {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    box-sizing: border-box;
}

.notification-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 10%;
}

.name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.theme {
    font-size: 13px;
    color: #888;
}

.date-time {
    font-size: 12px;
    color: #aaa;
}

.content {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
}


.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
  }
  
  .noNotifications{
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }